body {
    --main-color: #bc8034;
    --secondary-color: #e2c391;
    --dark-blue-color: #272D2D;
    --font-white-color: #ffffff;
    --font-largest: 60px;
    --font-larger: 50px;
    --font-large: 40px;
    --radius: 15px;

    display: flex;
    flex-direction: column;
    margin: 0%;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    padding: 0%;
}

a {
    text-decoration: underline;
    color: black;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 2em;
    width: fit-content;
}

textarea {
    max-width: 100%;
    min-width: 100%;
}

div[data-type="title1"] p {
    font-size: var(--font-largest);
    font-weight: bold;
    text-decoration: underline;
}

div[data-type="title2"] p {
    font-size: var(--font-larger);
    font-weight: bold;
    text-decoration: underline;
}

div[data-type="title3"] p {
    font-size: var(--font-large);
    font-weight: bold;
    font-style: italic;
}

div[data-type="title4"] p {
    font-size: var(--font-large);
    font-weight: normal;
}

div[data-type="title5"] p {
    font-size: var(--font-large);
    font-weight: normal;
    font-style: italic;
}

.btn {
    background-color: var(--main-color);
    padding: 5%;
    border-radius: var(--radius);
    overflow-wrap: break-word;
}

.btn a {
    width: max-content;
    height: max-content;
}

.btn:active {
    background-color: rgba(141, 63, 18, 0.801);
}

header {
    background: var(--secondary-color);
    width: 100%;
}

header > div.barHeader {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--dark-blue-color);
    color: var(--font-white-color);
}

.barHeader > a {
    max-width: 6em;
}

.barHeader > a >img{
    height: 100%;
    width: 100%;
}

.barHeader > div.buttonsHeader{
    margin: 15px;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    flex-wrap: nowrap;
    justify-content: right;
}

#menu {
    padding: 0.5%;
}

nav > ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    list-style: none;
}

#main-profile {
    display: flex;
    flex-direction: row;
}

#main-profile > div {
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#main-profile > div > .btn {
    width: fit-content;
    padding: 2%;
    margin-top: 2%;
}

#account-buttons {
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

#account-buttons > * {
    padding: 1%;
    padding-left: 4%;
    padding-right: 4%;
}

#home-page {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 60vh;
}

#home-page > * {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border-radius: var(--radius);
    align-items: center;
    padding: 1%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.recent-exercises, .popular-exercises {
    width: 15%;
}

.recent-exercises > *, .popular-exercises > * {
    width: 100%;
}

.searching-section {
    width: 40%;
}

.searching-section input[type="search"] {
    width: 22em;
    margin-right: 3%;
}

.searching-section > * {
    max-width: 100%;
    padding: 2%;
}

.searching-section > form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searching-section > form > div > div {
    display: flex;
    flex-direction: row;
    max-width: 100%;
}

aside {
    width: 40%;
}

aside img {
    width: 200px;
    height: 200px;
    margin: 1%;
    border: 2px solid black;
    border-radius: 100%;
}

#profile {
    display: flex;
    flex-direction: row;
}

#profile > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

#profile > div > * {
    margin: 1%;
}

#profile-details * {
    overflow-wrap: break-word;
}

#profile-details > div {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border: 3px solid black;
    border-radius: var(--radius);
    padding: 1%;
    margin: 3%;
}

#profile-details > div > h2 {
    margin: 0%;
}

#profile-details > div > ul {
    max-height: 20em;
    overflow-y: auto;
}

#profile-details > div li {
    border: 1px solid black;
    border-radius: var(--radius);
    margin: 0.5em;
    padding: 1em;
}

input[type="search"] {
    width: 90%;
}

.teacher-space .search {
    display: flex;
    flex-direction: row;
}

.teacher-space > form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.teacher-space > form > div {
    text-align: center;
    margin: 5%;
    width: 33%;
    display: flex;
    flex-direction: column;
}

.teacher-space > form > div > div {
    border-radius: var(--radius);
    margin-bottom: 5%;
    background-color: var(--secondary-color);
    padding: 6%;
    height: 28em;
}

.teacher-space h2 {
    margin-top: 0%;
}

.teacher-space ul {
    padding: 0%;
    margin-top: 5%;
    max-height: 75%;
    overflow-y: auto;
}

.teacher-space li {
    margin-bottom: 5%;
}

#settings-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#settings {
    display: flex;
    flex-direction: row;
    background-color: var(--secondary-color);
    border-radius: var(--radius);
    margin: 2% 3%;
    padding: 3%;
}

#settings > *:nth-child(2) {
    border-left: 5px solid var(--dark-blue-color);
    padding-left: 2%;
}

#settings > * {
    width: 50%;
    padding: 1%;
}

#settings > div > div {
    display: flex;
    flex-direction: column;
}

#settings-form > input {
    width: 33%;
    padding: 1%;
}

#chapter-creation {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#chapter-creation > * {
    background-color: var(--secondary-color);
    border-radius: var(--radius);
    padding: 1%;
    margin: 2%;
}

#chapter-creation > aside {
    width: 20%;
}

#chapter-creation > aside > ul > * {
    margin-bottom: 2%;
}

#chapter-creation > form, #chapter > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    width: 40%;
}

#chapter-creation > form * {
    max-width: 100%;
}

#chapter-creation > form > fieldset {
    background-color: var(--main-color);
    border-radius: var(--radius);
    width: 100%;
}

#chapter-creation > form > fieldset > input[type="textarea"] {
    background-color: var(--secondary-color);
    padding: 0.5%;
    border-radius: var(--radius);
}

#chapter-creation > form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 66.6%;
    padding: 2%;
}

#chapter-creation > form > div > *{
    width: 40%;
    padding: 4%;
}

#chapter-creation form ul {
    display: flex;
    flex-direction: column;
}

#chapter-creation li {
    display: flex;
    flex-direction: row;
}

#chapter-creation-aside-1 > div, #chapter-creation-aside-2 form {
    position: sticky;
    top: 2em;
}

#chapter-creation-aside-2 form, #add-symbols-btn {
    display: flex;
    flex-direction: column;
}

#chapter-creation-aside-2 form > label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#chapter-creation-aside-2 img {
    height: 15px;
    width: 15px;
}

#chapter-creation-aside-2 form :not(input[type="checkbox"]:checked) ~ div {
    display: none;
}

#chapter-creation-aside-2 form input[type="checkbox"]:checked ~ div {
    display: flex;
    flex-direction: column;
}

#chapter-creation-aside-2 form :not(input[type="checkbox"]:checked) ~ label img {
    transform: rotateX(180deg);
    transition: transform 0.75s ease;

}
#chapter-creation-aside-2 form input[type="checkbox"]:checked ~ label img {
    transform: rotateX(0deg);
    transition: transform 0.75s ease;
}


#symbols > div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#symbols > div > * {
    width: 10%;
    font-size: x-large;
}

#chapter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#chapter > form {
    background-color: var(--secondary-color);
    margin: 3%;
    padding: 0.5%;
    border-radius: var(--radius);
}

#chapter > form > *:nth-child(2) {
    display: flex;
    flex-direction: row;
}

#chapter button {
    margin-left: 2%;
    margin-right: 2%;
    width: 10em;
}

#login {
    margin: 1%;
}

#login > div {
    padding-top: 2%;
}

#login .btn {
    padding: 1%;
}

#main-create-class .btn {
    padding: 1%;
}

#main-about {
    margin: 1%;
}

#main-contact {
    margin: 1%;
    display: flex;
    flex-direction: column;
}

#main-contact * {
    margin: 0%;
}

#main-contact a {
    color: var(--main-color);
}

#main-contact a:visited {
    color:rgba(141, 63, 18, 0.801);
}

#main-contact ul {
    list-style-type:disc;
    margin-left: 2%;
}

#main-editor-class .btn {
    padding: 0.25em 1em;
}

#main-editor-class ul {
    display: flex;
    flex-direction: column;
}

#main-editor-class ul div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#main-editor-class ul div > * {
    margin: 0.5em;
}

#chapter-search .btn, #class-search .btn {
    padding: 0.5em;
}

#chapter-search ol, #class-search ol {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: var(--main-color);
    align-items: center;
    justify-content: space-evenly;
    margin-top: auto;
}

footer * {
    margin: 0%;
}

footer > * {
    margin: 0.5%;
}